# Table of Contents

## Importing Libraries

## Importing Dataframes

## Merging the Datasets

## Exporting Merged Dataframe

---

### Importing Libraries

In [1]:
import pandas as pd
import numpy as my
import os

### Importing Dataframes

In [2]:
path= r'C:\Users\princess\Documents\09-2023 Instacart Basket Analysis'

In [3]:
# Import updated orders dataset
df_ords=pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'orders_checked.csv'),index_col = 0)

In [4]:
# Import orders prior dataset
df_ords_prior=pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'orders_products_prior.csv'),index_col=0)

In [5]:
# Import updated products dataset
df_prods=pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checked.csv'),index_col=0)

In [6]:
# Import updated deparrtments dataset
df_deps=pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'departments_wrangled.csv'),index_col=0)

### Merging the Datasets

In [7]:
# Check output of new orders prior dataset
df_ords_prior.head()

          product_id  add_to_cart_order  reordered
order_id
2              33120                  1          1
2              28985                  2          1
2               9327                  3          0
2              45918                  4          1
2              30035                  5          0

In [8]:
df_ords_prior.shape

(32434489, 3)

In [9]:
df_ords.shape

(3421083, 7)

In [10]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [11]:
#merging datasets on the order_id

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [13]:
#checking to see if it worked 

df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

### Exporting Merged Dataframe

In [14]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))

In [15]:
df_merged_large.shape

(32434489, 11)